*{
  padding: 0;
  margin: 0;
  line-height: 1.5;
}
li{
  padding: 5px;
}
#navbar{
  position: fixed;
  top: 0;
  left: 0;
  border: black;
  min-width: 290px;
  width: 350px;
  height: 32rem;
  border-right: solid;
}
#navbar a{
  text-decoration: none;
  color: rgb(69,69,69);
  padding: 10px 30px;
}
#navbar{
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
nav li{
  list-style: none;
  border: 0.5px solid grey;
  padding: 15px
}
#main-doc {
  position: absolute;
  margin-left: 400px;
}
nav header{
  text-align: center;
  border: 1px solid grey;
}
header{
 font-size: 25px;
 font-weight: bold;
 padding: 15px;
}
section li {
  margin: 25px 0px 0px 50px;
}
p, li{
  color: rgb(69,69,69);
}
p{
  padding: 8px;
}
code{
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 400px) {
  #navbar{
    width: 150px;
  }
